.MainPage {
  display: grid;
  grid-template-areas: 
  "header"
  "mainContent"
  "footer footer footer footer footer";

  grid-template-rows: 576px auto 125px;

  .header {
    background-image: '../static/georgie-cobbs-459520-unsplash.png'
  }
}